@font-face {
  font-family: 'Fusion Pixel';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('fusion-pixel-12px-zh_hans.woff2') format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
